*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: #f5f7fb;
}

body {
  position: relative;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  overscroll-behavior: none;
}

.blob-right {
  position: absolute;
  top: 0;
  right: 0;
}

.blob-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.correct-answer {
  background-color: #4caf50;
  color: white;
}

.incorrect-answer {
  background-color: #f44336;
  color: white;
}
